<div class="row">
  <div class="col-sm-6 container jumbotron">
    <form #frm="ngForm" (ngSubmit)="addEmployee(frm.value)">
      <fieldset>
        <legend>Create Employee</legend>
        <div class="form-group">
          <label>Employee Name:</label>
          <input type="text" class="form-control" name="empName" ngModel />
        </div>
        <div class="form-group">
          <label>Employee Post:</label>
          <input type="text" class="form-control" name="empPost" ngModel />
        </div>
        <div class="form-group">
          <label>Employee Salary:</label>
          <input type="text" class="form-control" name="empSalary" ngModel />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
          <button type="button" class="btn btn-primary" routerLink="/employee-crud">Back</button>
        </div>
      </fieldset>
    </form>
    <!-- <p>{{frm.value | json}}</p> -->
  </div>
</div>