<nav>
  <button class="btn btn-outline-primary" routerLink="/data-binding">Data Binding</button>&nbsp;
  <button class="btn btn-outline-primary" routerLink="/directives">Directives</button>&nbsp;
  <button class="btn btn-outline-primary" routerLink="/signup">Signup</button>&nbsp;
  <button class="btn btn-outline-primary" routerLink="/pipes">Pipes</button> &nbsp;
  <button routerLink="empList" class="btn btn-outline-primary">empList</button> &nbsp;
  <button routerLink="empDetail" class="btn btn-outline-primary">empDetail</button>&nbsp;
  <button routerLink="/employee-crud" class="btn btn-outline-primary">Employee CRUD</button>
</nav>